In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
#Load individual data
player_stats_colnames = ['', 'Player', 'Team', 'Position', 'GP', 'TOI', 'Goals', 'Total Assists', 'First Assists', 'Second Assists', 'Total Points', 'IPP', 'Shots', 'SH%', 'ixG', 'iCF', 'iFF', 'iSCF', 'iHDCF', 'Rush Attempts', 'Rebounds Created', 'PIM', 'Total Penalties', 'Minor', 'Major', 'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways', 'Hits', 'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost', 'Faceoffs %']
player_stats = pd.read_csv('Player Season Totals - individual.csv')

stats = pd.DataFrame(player_stats)
stats = stats.rename(columns={'Unnamed: 0' : 'Id'})

player_stats_relative_colnames = ['','Player','Team','Position','GP','TOI','TOI/GP','Goals/60','Total Assists/60','First Assists/60','Second Assists/60','Total Points/60','IPP','Shots/60','SH%','ixG/60','iCF/60','iFF/60','iSCF/60','iHDCF/60','Rush Attempts/60','Rebounds Created/60','PIM/60','Total Penalties/60','Minor/60','Major/60','Misconduct/60','Penalties Drawn/60','Giveaways/60','Takeaways/60','Hits/60','Hits Taken/60','Shots Blocked/60','Faceoffs Won/60','Faceoffs Lost/60']
player_stats_relative = pd.read_csv('Player Season Totals - individual relative.csv')

player_relative = pd.DataFrame(player_stats_relative)
player_relative = player_relative.rename(columns={'Unnamed: 0' : 'Id'})
player_relative = player_relative.drop(columns=['Player', 'Team', 'Position', 'GP', 'TOI', 'IPP', 'SH%', 'Faceoffs %'])

#individual = pd.merge(stats, player_relative, on=['Id', 'Player', 'Team', 'Position', 'GP', 'TOI', 'IPP', 'SH%', 'Faceoffs %'])
individual = pd.merge(stats, player_relative, on='Id', how='inner')
#individual = individual.drop(columns=['Player_y', 'Team_y', 'Position_y', 'GP_y', 'TOI_y', 'IPP_y', 'SH%_y', 'Faceoffs %_y'])
individual.head()

,Id,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,Major/60,Misconduct/60,Penalties Drawn/60,Giveaways/60,Takeaways/60,Hits/60,Hits Taken/60,Shots Blocked/60,Faceoffs Won/60,Faceoffs Lost/60
0,286,Nathan MacKinnon,COL,C,82,1386.383333,36,43,25,18,...,0.0,0.04,1.08,2.81,1.64,1.95,2.90,2.60,22.37,26.92
1,381,Connor McDavid,EDM,C,76,1233.266667,19,53,32,21,...,0.0,0.00,1.70,3.31,2.77,4.87,4.87,1.75,19.80,18.44
2,169,Nikita Kucherov,T.B,R,81,1307.583333,21,46,29,17,...,0.0,0.00,0.83,3.40,2.48,1.70,2.80,1.51,0.00,0.00
3,457,Auston Matthews,TOR,C,81,1241.183333,38,23,17,6,...,0.0,0.00,0.53,1.98,3.24,3.87,3.48,3.82,28.28,25.23
4,429,Artemi Panarin,NYR,L,82,1259.583333,32,28,14,14,...,0.0,0.00,1.00,2.72,1.43,0.67,1.62,0.38,0.00,0.19

In [3]:
individual.loc[individual['Player'] == 'Anze Kopitar']

,Id,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,Major/60,Misconduct/60,Penalties Drawn/60,Giveaways/60,Takeaways/60,Hits/60,Hits Taken/60,Shots Blocked/60,Faceoffs Won/60,Faceoffs Lost/60
111,14,Anze Kopitar,L.A,C,81,1100.05,13,19,11,8,...,0.0,0.05,0.6,1.58,2.18,1.75,3.38,2.89,31.09,24.44

In [4]:
individual.columns

Index(['Id', 'Player', 'Team', 'Position', 'GP', 'TOI', 'Goals',
       'Total Assists', 'First Assists', 'Second Assists', 'Total Points',
       'IPP', 'Shots', 'SH%', 'ixG', 'iCF', 'iFF', 'iSCF', 'iHDCF',
       'Rush Attempts', 'Rebounds Created', 'PIM', 'Total Penalties', 'Minor',
       'Major', 'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways',
       'Hits', 'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost',
       'Faceoffs %', 'TOI/GP', 'Goals/60', 'Total Assists/60',
       'First Assists/60', 'Second Assists/60', 'Total Points/60', 'Shots/60',
       'ixG/60', 'iCF/60', 'iFF/60', 'iSCF/60', 'iHDCF/60', 'Rush Attempts/60',
       'Rebounds Created/60', 'PIM/60', 'Total Penalties/60', 'Minor/60',
       'Major/60', 'Misconduct/60', 'Penalties Drawn/60', 'Giveaways/60',
       'Takeaways/60', 'Hits/60', 'Hits Taken/60', 'Shots Blocked/60',
       'Faceoffs Won/60', 'Faceoffs Lost/60'],
      dtype='object')

In [5]:
#Load on-ice data
player_season_onice_colnames = ['','Player','Team','Position','GP','TOI','CF','CA','CF%','FF','FA','FF%','SF','SA','SF%','GF','GA','GF%','xGF','xGA','xGF%','SCF','SCA','SCF%','HDCF','HDCA','HDCF%','HDGF','HDGA','HDGF%','MDCF','MDCA','MDCF%','MDGF','MDGA','MDGF%','LDCF','LDCA','LDCF%','LDGF','LDGA','LDGF%','On-Ice SH%','On-Ice SV%','PDO','Off.Â Zone Starts','Neu.Â Zone Starts','Def.Â Zone Starts','OnÂ TheÂ Fly Starts','Off.Â Zone Start %','Off.Â Zone Faceoffs','Neu.Â Zone Faceoffs','Def.Â Zone Faceoffs','Off.Â Zone Faceoff %']
player_season_onice = pd.read_csv('Player Season Totals - onice.csv')

onice_data = pd.DataFrame(player_season_onice)
onice_data = onice_data.rename(columns={'Unnamed: 0' : 'Id'})

player_season_onice_relative_colnames = ['','Player','Team','Position','GP','TOI','TOI/GP','CF/60 Rel','CA/60 Rel','CF% Rel','FF/60 Rel','FA/60 Rel','FF% Rel','SF/60 Rel','SA/60 Rel','SF% Rel','GF/60 Rel','GA/60 Rel','GF% Rel','xGF/60 Rel','xGA/60 Rel','xGF% Rel','SCF/60 Rel','SCA/60 Rel','SCF% Rel','HDCF/60 Rel','HDCA/60 Rel','HDCF% Rel','HDGF/60 Rel','HDGA/60 Rel','HDGF% Rel','MDCF/60 Rel','MDCA/60 Rel','MDCF% Rel','MDGF/60 Rel','MDGA/60 Rel','MDGF% Rel','LDCF/60 Rel','LDCA/60 Rel','LDCF% Rel','LDGF/60 Rel','LDGA/60 Rel','LDGF% Rel','On-Ice SH%','On-Ice SV%','PDO','Off.Â Zone Starts/60','Neu.Â Zone Starts/60','Def.Â Zone Starts/60','OnÂ TheÂ Fly Starts/60','Off.Â Zone Start %','Off.Â Zone Faceoffs/60','Neu.Â Zone Faceoffs/60','Def.Â Zone Faceoffs/60','Off.Â Zone Faceoff %']
player_season_onice = pd.read_csv('Player Season Totals - onice relative.csv')

onice_data_relative = pd.DataFrame(player_season_onice)
onice_data_relative = onice_data_relative.rename(columns={'Unnamed: 0' : 'Id'})
onice_data_relative = onice_data_relative.drop(columns=['Player', 'Team', 'Position', 'GP', 'TOI', 'On-Ice SH%', 'On-Ice SV%', 'PDO', 'Off.Â Zone Start %', 'Off.Â Zone Faceoff %'])

#onice = pd.merge(onice_data, onice_data_relative, on=['Id', 'Player', 'Team', 'Position', 'GP', 'TOI', 'PDO', 'On-Ice SV%', 'On-Ice SH%'])
onice = pd.merge(onice_data, onice_data_relative, on='Id')
onice.head()

,Id,Player,Team,Position,GP,TOI,CF,CA,CF%,FF,...,LDGF/60 Rel,LDGA/60 Rel,LDGF% Rel,Off.Â Zone Starts/60,Neu.Â Zone Starts/60,Def.Â Zone Starts/60,OnÂ TheÂ Fly Starts/60,Off.Â Zone Faceoffs/60,Neu.Â Zone Faceoffs/60,Def.Â Zone Faceoffs/60
0,870,Cameron Butler,CBJ,R,1,0.900000,2,0,100.00,2,...,-1.82,0.0,-100.00,66.67,0.00,0.00,0.00,200.00,0.00,0.00
1,538,Cale Fleury,SEA,D,1,13.350000,20,5,80.00,16,...,0.00,0.0,-,8.99,4.49,0.00,58.43,35.96,13.48,0.00
2,245,Jayson Megna,BOS,C,1,11.466667,13,4,76.47,8,...,0.00,0.0,-,0.00,0.00,5.23,68.02,0.00,5.23,5.23
3,917,Ondrej Pavel,COL,C,2,12.200000,15,5,75.00,9,...,-1.15,7.1,-100.00,4.92,19.67,0.00,73.77,14.75,29.51,4.92
4,798,Mavrik Bourque,DAL,C,1,10.316667,20,7,74.07,13,...,0.00,0.0,-,11.63,23.26,17.45,40.71,23.26,23.26,17.45

In [6]:
onice.columns

Index(['Id', 'Player', 'Team', 'Position', 'GP', 'TOI', 'CF', 'CA', 'CF%',
       'FF', 'FA', 'FF%', 'SF', 'SA', 'SF%', 'GF', 'GA', 'GF%', 'xGF', 'xGA',
       'xGF%', 'SCF', 'SCA', 'SCF%', 'HDCF', 'HDCA', 'HDCF%', 'HDGF', 'HDGA',
       'HDGF%', 'MDCF', 'MDCA', 'MDCF%', 'MDGF', 'MDGA', 'MDGF%', 'LDCF',
       'LDCA', 'LDCF%', 'LDGF', 'LDGA', 'LDGF%', 'On-Ice SH%', 'On-Ice SV%',
       'PDO', 'Off.Â Zone Starts', 'Neu.Â Zone Starts', 'Def.Â Zone Starts',
       'OnÂ TheÂ Fly Starts', 'Off.Â Zone Start %', 'Off.Â Zone Faceoffs',
       'Neu.Â Zone Faceoffs', 'Def.Â Zone Faceoffs', 'Off.Â Zone Faceoff %',
       'TOI/GP', 'CF/60 Rel', 'CA/60 Rel', 'CF% Rel', 'FF/60 Rel', 'FA/60 Rel',
       'FF% Rel', 'SF/60 Rel', 'SA/60 Rel', 'SF% Rel', 'GF/60 Rel',
       'GA/60 Rel', 'GF% Rel', 'xGF/60 Rel', 'xGA/60 Rel', 'xGF% Rel',
       'SCF/60 Rel', 'SCA/60 Rel', 'SCF% Rel', 'HDCF/60 Rel', 'HDCA/60 Rel',
       'HDCF% Rel', 'HDGF/60 Rel', 'HDGA/60 Rel', 'HDGF% Rel', 'MDCF/60 Rel',
       'MDCA/60 Rel', 'MDCF% Rel', 'MDGF/60 Rel', 'MDGA/60 Rel', 'MDGF% Rel',
       'LDCF/60 Rel', 'LDCA/60 Rel', 'LDCF% Rel', 'LDGF/60 Rel', 'LDGA/60 Rel',
       'LDGF% Rel', 'Off.Â Zone Starts/60', 'Neu.Â Zone Starts/60',
       'Def.Â Zone Starts/60', 'OnÂ TheÂ Fly Starts/60', 'Off.Â Zone Faceoffs/60',
       'Neu.Â Zone Faceoffs/60', 'Def.Â Zone Faceoffs/60'],
      dtype='object')

In [7]:
filter_cols = [col for col in onice.columns if '_y' in col]
#print(list(onice.columns))
print(filter_cols)

[]

In [8]:
onice.loc[onice['Player'] == 'Anze Kopitar']

,Id,Player,Team,Position,GP,TOI,CF,CA,CF%,FF,...,LDGF/60 Rel,LDGA/60 Rel,LDGF% Rel,Off.Â Zone Starts/60,Neu.Â Zone Starts/60,Def.Â Zone Starts/60,OnÂ TheÂ Fly Starts/60,Off.Â Zone Faceoffs/60,Neu.Â Zone Faceoffs/60,Def.Â Zone Faceoffs/60
175,14,Anze Kopitar,L.A,C,81,1100.05,1131,991,53.3,789,...,-0.05,0.1,-6.41,9.87,12.71,8.73,41.62,19.47,18.22,20.4

In [9]:
#Merge both tables
onice = onice.drop(columns=['Player', 'Team', 'Position', 'GP', 'TOI', 'TOI/GP'])

data = pd.merge(individual, onice, on='Id', how='left')
data.head()

,Id,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,LDGF/60 Rel,LDGA/60 Rel,LDGF% Rel,Off.Â Zone Starts/60,Neu.Â Zone Starts/60,Def.Â Zone Starts/60,OnÂ TheÂ Fly Starts/60,Off.Â Zone Faceoffs/60,Neu.Â Zone Faceoffs/60,Def.Â Zone Faceoffs/60
0,286,Nathan MacKinnon,COL,C,82,1386.383333,36,43,25,18,...,0.13,-0.06,7.18,15.80,13.07,5.80,36.09,30.16,19.95,15.45
1,381,Connor McDavid,EDM,C,76,1233.266667,19,53,32,21,...,0.21,0.28,-11.18,13.14,10.80,5.89,33.96,24.67,16.35,14.89
2,169,Nikita Kucherov,T.B,R,81,1307.583333,21,46,29,17,...,0.36,0.13,10.61,11.33,10.09,5.23,43.09,21.20,15.46,12.30
3,457,Auston Matthews,TOR,C,81,1241.183333,38,23,17,6,...,0.06,-0.13,7.14,9.43,14.36,6.09,41.19,20.83,21.80,14.65
4,429,Artemi Panarin,NYR,L,82,1259.583333,32,28,14,14,...,0.63,-0.34,32.94,12.43,10.38,1.91,48.97,22.15,14.96,5.48

In [10]:
filter_cols = [col for col in data.columns if '_y' in col]
#print(list(onice.columns))
print(filter_cols)

[]

In [11]:
data.loc[data['Id'] == 14]

,Id,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,LDGF/60 Rel,LDGA/60 Rel,LDGF% Rel,Off.Â Zone Starts/60,Neu.Â Zone Starts/60,Def.Â Zone Starts/60,OnÂ TheÂ Fly Starts/60,Off.Â Zone Faceoffs/60,Neu.Â Zone Faceoffs/60,Def.Â Zone Faceoffs/60
111,14,Anze Kopitar,L.A,C,81,1100.05,13,19,11,8,...,-0.05,0.1,-6.41,9.87,12.71,8.73,41.62,19.47,18.22,20.4

In [12]:
#Select forwards

In [13]:
data = data.loc[data['Position'] != 'D']
data.head()

,Id,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,LDGF/60 Rel,LDGA/60 Rel,LDGF% Rel,Off.Â Zone Starts/60,Neu.Â Zone Starts/60,Def.Â Zone Starts/60,OnÂ TheÂ Fly Starts/60,Off.Â Zone Faceoffs/60,Neu.Â Zone Faceoffs/60,Def.Â Zone Faceoffs/60
0,286,Nathan MacKinnon,COL,C,82,1386.383333,36,43,25,18,...,0.13,-0.06,7.18,15.80,13.07,5.80,36.09,30.16,19.95,15.45
1,381,Connor McDavid,EDM,C,76,1233.266667,19,53,32,21,...,0.21,0.28,-11.18,13.14,10.80,5.89,33.96,24.67,16.35,14.89
2,169,Nikita Kucherov,T.B,R,81,1307.583333,21,46,29,17,...,0.36,0.13,10.61,11.33,10.09,5.23,43.09,21.20,15.46,12.30
3,457,Auston Matthews,TOR,C,81,1241.183333,38,23,17,6,...,0.06,-0.13,7.14,9.43,14.36,6.09,41.19,20.83,21.80,14.65
4,429,Artemi Panarin,NYR,L,82,1259.583333,32,28,14,14,...,0.63,-0.34,32.94,12.43,10.38,1.91,48.97,22.15,14.96,5.48

In [14]:
# List of column names
new_column_names = ['G/60 computed', '1A/60 computed', '2A/60 computed', 'TP/60 computed', 'SH/60 computed',
    'SH% computed', 'iXG/60 computed', 'iCF/60 computed', 'iFF/60 computed', 'iSCF/60 computed',
    'iHDCF/60 computed', 'Rush Attempts/60 computed', 'Rebounds Created/60 computed', 'PIM/60 computed',
    'PD/60 computed', 'Giveaways/60 computed', 'Takeaways/60 computed', 'Hits/60 computed', 'Shots Blocked/60 computed',
    'CF/60 computed', 'CA/60 computed', 'CF% computed', 'FF/60 computed', 'FA/60 computed', 'FF% computed',
    'SF/60 computed', 'SA/60 computed', 'SF% computed', 'GF/60 computed', 'GA/60 computed', 'GF% computed',
    'xGF/60 computed', 'xGA/60 computed', 'xGF% computed', 'SCF/60 computed', 'SCA/60 computed', 'SCF% computed',
    'HDCF/60 computed', 'HDCA/60 computed', 'HDCF% computed', 'HDGF/60 computed', 'HDGA/60 computed', 'HDGF% computed',
    'On-Ice SH% computed', 'On-Ice SV% computed', 'PDO computed', 'CF/60 Rel computed', 'CA/60 Rel computed',
    'CF% Rel computed', 'FF/60 Rel computed', 'FA/60 Rel computed', 'FF% Rel computed', 'SF/60 Rel computed',
    'SA/60 Rel computed', 'SF% Rel computed', 'GF/60 Rel computed', 'GA/60 Rel computed', 'GF% Rel computed',
    'xGF/60 Rel computed', 'xGA/60 Rel computed', 'xGF% Rel computed', 'SCF/60 Rel computed', 'SCA/60 Rel computed',
    'SCF% Rel computed', 'HDCF/60 Rel computed', 'HDCA/60 Rel computed', 'HDCF% Rel computed', 'HDGF/60 Rel computed',
    'HDGA/60 Rel computed', 'HDGF% Rel computed']

column_names = ['Goals/60', 'First Assists/60', 'Second Assists/60', 'Total Points/60', 'Shots/60', 'SH%',
    'ixG/60', 'iCF/60', 'iFF/60', 'iSCF/60', 'iHDCF/60', 'Rush Attempts/60', 'Rebounds Created/60',
    'PIM/60', 'Penalties Drawn/60', 'Giveaways/60', 'Takeaways/60', 'Hits/60', 'Shots Blocked/60', 'CF/60 Rel','CA/60 Rel','CF% Rel','FF/60 Rel','FA/60 Rel','FF% Rel','SF/60 Rel','SA/60 Rel','SF% Rel', 
    'GF/60 Rel','GA/60 Rel','GF% Rel','xGF/60 Rel','xGA/60 Rel','xGF% Rel','SCF/60 Rel','SCA/60 Rel','SCF% Rel', 'HDCF/60 Rel', 'HDCA/60 Rel', 'HDCF%',
    'HDGF/60 Rel', 'HDGA/60 Rel', 'HDGF%', 'On-Ice SH%', 'On-Ice SV%', 'PDO', 'CF/60 Rel', 'CA/60 Rel',
    'CF% Rel', 'FF/60 Rel', 'FA/60 Rel', 'FF% Rel', 'SF/60 Rel', 'SA/60 Rel', 'SF% Rel', 'GF/60 Rel',
    'GA/60 Rel', 'GF% Rel', 'xGF/60 Rel', 'xGA/60 Rel', 'xGF% Rel', 'SCF/60 Rel', 'SCA/60 Rel', 'SCF% Rel',
    'HDCF/60 Rel', 'HDCA/60 Rel', 'HDCF% Rel', 'HDGF/60 Rel', 'HDGA/60 Rel', 'HDGF% Rel']

In [15]:
# Calculate and create new columns for each specified column name
for i in range(0,70):
    # Calculate percentile ranks using pandas and numpy
    column_name = f"{column_names[i]}"
    percentile_ranks = data[column_name].rank(pct=True, method='max')

    # Create a new column with the percentile ranks
    new_column_name = f"{new_column_names[i]}"
    data[new_column_name] = percentile_ranks

data.head()

,Id,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,xGF% Rel computed,SCF/60 Rel computed,SCA/60 Rel computed,SCF% Rel computed,HDCF/60 Rel computed,HDCA/60 Rel computed,HDCF% Rel computed,HDGF/60 Rel computed,HDGA/60 Rel computed,HDGF% Rel computed
0,286,Nathan MacKinnon,COL,C,82,1386.383333,36,43,25,18,...,0.927750,0.988506,0.589491,0.980296,0.934319,0.341544,0.972085,0.965517,0.536946,0.720854
1,381,Connor McDavid,EDM,C,76,1233.266667,19,53,32,21,...,0.922824,0.993432,0.640394,0.965517,0.978654,0.415435,0.981938,0.983580,0.669951,0.719212
2,169,Nikita Kucherov,T.B,R,81,1307.583333,21,46,29,17,...,0.821018,0.954023,0.830870,0.834154,0.940887,0.870279,0.796388,0.955665,0.894910,0.853859
3,457,Auston Matthews,TOR,C,81,1241.183333,38,23,17,6,...,0.906404,0.965517,0.463054,0.960591,0.960591,0.374384,0.996716,0.954023,0.330049,0.743842
4,429,Artemi Panarin,NYR,L,82,1259.583333,32,28,14,14,...,0.965517,0.986864,0.495895,0.998358,0.975369,0.430213,0.681445,0.812808,0.888342,0.091954

In [16]:
#Apply model functions - Forwards

In [17]:
# Defensive Function
# data['Defensive'] = (
#     0.25 * data['Hits/60% computed'] +
#     0.5 * data['Shots Blocked/60% computed'] +
#     data['CF/60 computed'] +
#     0.5 * data['CA/60 computed'] +
#     1.25 * data['CF% computed'] +
#     1.25 * data['FF/60 computed'] +
#     1.5 * data['FA/60 computed'] +
#     0.5 * data['FF% computed'] +
#     data['SF/60 computed'] +
#     0.5 * data['SA/60 computed'] +
#     1.25 * data['SF% computed'] +
#     1.25 * data['GF/60 computed'] +
#     1.5 * data['GA/60 computed'] +
#     0.5 * data['GF% computed'] +
#     0.25 * data['xGF/60 computed'] +
#     0.25 * data['xGA/60 computed'] +
#     0.25 * data['xGF% computed'] +
#     0.25 * data['SCF/60 computed'] +
#     0.5 * data['SCA/60 computed'] +
#     0.25 * data['SCF% computed'] +
#     0.5 * data['HDCF/60 computed'] +
#     0.5 * data['HDCA/60 computed'] +
#     0.25 * data['HDCF% computed'] +
#     0.5 * data['HDGF/60 computed'] +
#     0.5 * data['HDGA/60 computed'] +
#     0.25 * data['HDGF% computed']
# )

In [18]:
# Defensive Function
data['Defensive'] = (
    0.25 * data['Hits/60 computed'] +
    0.5 * data['Shots Blocked/60 computed'] +
    (1 / (0.5 * data['CA/60 computed'])) +
    (1 / (1.5 * data['FA/60 computed'])) +
    (1 / (1.25 * data['SA/60 computed'])) +
    (1 / (1.25 * data['GA/60 computed'])) +
    (1 / (1.5 * data['xGA/60 computed'])) +
    (1 / data['SCA/60 computed']) +
    (1 / data['HDCA/60 computed']) +
    (1 / (0.5 * data['HDGA/60 computed'])) +
    (1 / data['CA/60 Rel computed']) +
    (1 / (0.5 * data['FA/60 Rel computed'])) +
    (1 / (1.25 * data['SA/60 Rel computed'])) +
    (1 / (1.25 * data['GA/60 Rel computed'])) +
    (1 / (1.5 * data['xGA/60 Rel computed'])) +
    (1 / data['SCA/60 Rel computed']) +
    (1 / data['HDCA/60 Rel computed']) +
    (1 / (0.5 * data['HDGA/60 Rel computed']))
)

In [19]:
# Offensive Function
# data['Offensive'] = data['TP/60% computed'] + data['SH/60% computed'] + (0.5 * data['SH%% computed']) + \
#                     (1.25 * data['iXG/60% computed']) + data['iCF/60% computed'] + (0.5 * data['iFF/60% computed']) + \
#                     data['iSCF/60% computed'] + data['iHDCF/60% computed'] + (0.5 * data['Rush Attempts/60% computed']) + \
#                     (0.5 * data['Rebounds Created/60% computed']) + (1.25 * data['PIM/60% computed']) + \
#                     (1.25 * data['PD/60 computed']) + (1.5 * data['Giveaways/60% computed']) + data['Takeaways/60% computed'] + \
#                     (0.5 * data['Hits/60% computed']) + (0.5 * data['Shots Blocked/60% computed'])

In [20]:
data['Offensive'] = (
    data['TP/60 computed'] +
    data['CF/60 computed'] +
    0.5 * data['FF/60 computed'] +
    1.25 * data['SF/60 computed'] +
    1.25 * data['GF/60 computed'] +
    1.5 * data['xGF/60 computed'] +
    data['SCF/60 computed'] +
    data['HDCF/60 computed'] +
    0.5 * data['HDGF/60 computed'] +
    data['CF/60 Rel computed'] +
    0.5 * data['FF/60 Rel computed'] +
    1.25 * data['SF/60 Rel computed'] +
    1.25 * data['GF/60 Rel computed'] +
    1.5 * data['xGF/60 Rel computed'] +
    data['SCF/60 Rel computed'] +
    data['HDCF/60 Rel computed'] +
    0.5 * data['HDGF/60 Rel computed']
)

In [21]:
# data['Individual'] = (
#     3 * data['G/60% computed'] +
#     2 * data['1A/60% computed'] +
#     data['2A/60% computed'] +
#     data['TP/60% computed'] +
#     data['SH/60% computed'] +
#     0.25 * data['SH%% computed'] +
#     1.5 * data['iXG/60% computed'] +
#     data['iCF/60% computed'] +
#     0.5 * data['iFF/60% computed'] +
#     0.5 * data['iSCF/60% computed'] +
#     0.25 * data['iHDCF/60% computed'] +
#     0.25 * data['Rush Attempts/60% computed'] +
#     0.25 * data['Rebounds Created/60% computed'] +
#     0.25 * data['PIM/60% computed'] +
#     0.25 * data['PD/60 computed'] +
#     0.35 * data['Giveaways/60% computed'] +
#     0.35 * data['Takeaways/60% computed'] +
#     0.1 * data['Hits/60% computed'] +
#     0.25 * data['Shots Blocked/60% computed']
# )

In [22]:
data['Individual'] = (
    3 * data['G/60 computed'] +
    2 * data['1A/60 computed'] +
    data['2A/60 computed'] +
    data['TP/60 computed'] +
    data['SH/60 computed'] +
    0.25 * data['SH% computed'] +
    1.5 * data['iXG/60 computed'] +
    data['iCF/60 computed'] +
    0.5 * data['iFF/60 computed'] +
    data['iSCF/60 computed'] +
    0.5 * data['iHDCF/60 computed'] +
    0.25 * data['Rush Attempts/60 computed'] +
    0.25 * data['Rebounds Created/60 computed'] +
    (1 / (0.5 * data['PIM/60 computed'])) +
    0.25 * data['PD/60 computed'] +
    0.35 * data['Giveaways/60 computed'] +
    0.35 * data['Takeaways/60 computed'] +
    0.1 * data['Hits/60 computed'] +
    0.25 * data['Shots Blocked/60 computed']
)

In [23]:
# data['Overall'] = (
#     3 * data['G/60% computed'] +
#     2 * data['1A/60% computed'] +
#     data['2A/60% computed'] +
#     data['TP/60% computed'] +
#     data['SH/60% computed'] +
#     0.25 * data['SH%% computed'] +
#     1.5 * data['iXG/60% computed'] +
#     data['iCF/60% computed'] +
#     0.5 * data['iFF/60% computed'] +
#     0.5 * data['iSCF/60% computed'] +
#     0.25 * data['iHDCF/60% computed'] +
#     0.25 * data['Rush Attempts/60% computed'] +
#     0.25 * data['Rebounds Created/60% computed'] +
#     0.25 * data['PIM/60% computed'] +
#     0.25 * data['PD/60 computed'] +
#     0.35 * data['Giveaways/60% computed'] +
#     0.35 * data['Takeaways/60% computed'] +
#     0.1 * data['Hits/60% computed'] +
#     0.25 * data['Shots Blocked/60% computed'] +
#     data['CF/60 computed'] +
#     0.5 * data['CA/60 computed'] +
#     data['CF% computed'] +
#     data['FF/60 computed'] +
#     1.25 * data['FA/60 computed'] +
#     1.25 * data['FF% computed'] +
#     data['SF/60 computed'] +
#     1.25 * data['SA/60 computed'] +
#     1.5 * data['SF% computed'] +
#     data['GF/60 computed'] +
#     data['GA/60 computed'] +
#     data['GF% computed'] +
#     data['xGF/60 computed'] +
#     data['xGA/60 computed'] +
#     data['xGF% computed'] +
#     data['SCF/60 computed'] +
#     data['SCA/60 computed'] +
#     data['SCF% computed'] +
#     data['HDCF/60 computed'] +
#     data['HDCA/60 computed'] +
#     data['HDCF% computed'] +
#     data['HDGF/60 computed'] +
#     data['HDGA/60 computed'] +
#     data['HDGF% computed']
# )

In [24]:
data['Overall'] = (
    3 * data['G/60 computed'] +
    2 * data['1A/60 computed'] +
    data['2A/60 computed'] +
    data['TP/60 computed'] +
    data['SH/60 computed'] +
    0.25 * data['SH% computed'] +
    1.5 * data['iXG/60 computed'] +
    data['iCF/60 computed'] +
    0.5 * data['iFF/60 computed'] +
    data['iSCF/60 computed'] +
    0.5 * data['iHDCF/60 computed'] +
    0.25 * data['Rush Attempts/60 computed'] +
    0.25 * data['Rebounds Created/60 computed'] +
    (1 / (0.5 * data['PIM/60 computed'])) +
    0.25 * data['PD/60 computed'] +
    0.35 * data['Giveaways/60 computed'] +
    0.35 * data['Takeaways/60 computed'] +
    0.1 * data['Hits/60 computed'] +
    0.25 * data['Shots Blocked/60 computed'] +
    data['CF% computed'] +
    0.5 * data['FF% computed'] +
    1.25 * data['SF% computed'] +
    1.25 * data['GF% computed'] +
    1.5 * data['xGF% computed'] +
    data['SCF% computed'] +
    data['HDCF% computed'] +
    0.5 * data['HDGF% computed'] +
    data['CF% Rel computed'] +
    0.5 * data['FF% Rel computed'] +
    1.25 * data['SF% Rel computed'] +
    1.25 * data['GF% Rel computed'] +
    1.5 * data['xGF% Rel computed'] +
    data['SCF% Rel computed'] +
    data['HDCF% Rel computed'] +
    0.5 * data['HDGF% Rel computed']
)

In [25]:
#Get relatives of overall, individual, offensive, defensive

In [26]:
output_data = data[['Id', 'Player', 'Team', 'Position', 'Overall', 'Individual', 'Offensive', 'Defensive']]

ovrpct = output_data['Overall'].rank(pct=True, method='max')
output_data['Overall%'] = 100*ovrpct

indpct = output_data['Individual'].rank(pct=True, method='max')
output_data['Individual%'] = 100*indpct

offpct = output_data['Offensive'].rank(pct=True, method='max')
output_data['Offensive%'] = 100*offpct

defpct = output_data['Defensive'].rank(pct=True, method='max')
output_data['Defensive%'] = 100*defpct


output_data.head()

C:\Users\Ryzen\AppData\Local\Temp/ipykernel_25456/1439559019.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_data['Overall%'] = 100*ovrpct
C:\Users\Ryzen\AppData\Local\Temp/ipykernel_25456/1439559019.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_data['Individual%'] = 100*indpct
C:\Users\Ryzen\AppData\Local\Temp/ipykernel_25456/1439559019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_data['Offensive%'] = 100*offpct
C:\Users\Ryzen\AppData\Local\Temp/ipykernel_25456/1439559019.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_data['Defensive%'] = 100*defpct

,Id,Player,Team,Position,Overall,Individual,Offensive,Defensive,Overall%,Individual%,Offensive%,Defensive%
0,286,Nathan MacKinnon,COL,C,30.905445,16.591817,16.513957,38.156152,92.446634,77.011494,99.178982,39.244663
1,381,Connor McDavid,EDM,C,34.516814,19.387094,16.772578,35.511239,97.701149,88.669951,99.671593,35.139573
2,169,Nikita Kucherov,T.B,R,35.915018,22.286939,16.425287,22.943580,98.686371,95.894910,98.522167,9.031199
3,457,Auston Matthews,TOR,C,38.460126,24.391981,15.627258,65.381399,99.343186,98.686371,96.715928,64.860427
4,429,Artemi Panarin,NYR,L,32.546249,18.034754,16.455665,56.097694,95.402299,84.564860,98.686371,59.934319

In [27]:
#format data for output

In [28]:
columns_to_drop = ['Overall', 'Individual', 'Offensive', 'Defensive']
output_data.drop(columns=columns_to_drop, inplace=True)
output_data.head()

C:\Users\Ryzen\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Id,Player,Team,Position,Overall%,Individual%,Offensive%,Defensive%
0,286,Nathan MacKinnon,COL,C,92.446634,77.011494,99.178982,39.244663
1,381,Connor McDavid,EDM,C,97.701149,88.669951,99.671593,35.139573
2,169,Nikita Kucherov,T.B,R,98.686371,95.894910,98.522167,9.031199
3,457,Auston Matthews,TOR,C,99.343186,98.686371,96.715928,64.860427
4,429,Artemi Panarin,NYR,L,95.402299,84.564860,98.686371,59.934319

In [29]:
player_stats_basic_colnames = ['', 'Player', 'Team', 'Position', 'GP', 'TOI', 'Goals', 'Total Assists', 'First Assists', 'Second Assists', 'Total Points', 'IPP', 'Shots', 'SH%', 'ixG', 'iCF', 'iFF', 'iSCF', 'iHDCF', 'Rush Attempts', 'Rebounds Created', 'PIM', 'Total Penalties', 'Minor', 'Major', 'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways', 'Hits', 'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost', 'Faceoffs %']
player_stats_basic = pd.read_csv('Player Season Totals - all.csv')

basic = pd.DataFrame(player_stats_basic)
basic = basic.rename(columns={'Unnamed: 0' : 'Id', 'Total Assists' : 'Assists', 'Total Points' : 'Points'})

basic = basic.drop(columns=['Player', 'Team', 'Position', 'TOI', 'First Assists', 'Second Assists', 'IPP', 'Shots', 'SH%', 'ixG', 'iCF', 'iFF', 'iSCF', 'iHDCF', 'Rush Attempts', 'Rebounds Created', 'Total Penalties', 'Minor', 'Major', 'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways', 'Hits', 'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost', 'Faceoffs %'])
basic.head()

    Id  GP  Goals  Assists  Points  PIM
0  169  81     44      100     144   22
1  286  82     51       89     140   42
2  381  76     32      100     132   30
3  429  82     49       71     120   24
4  334  82     47       63     110   47

In [30]:
output_data_ext = pd.merge(output_data, basic, on='Id', how='inner')
output_data_ext.head()

,Id,Player,Team,Position,Overall%,Individual%,Offensive%,Defensive%,GP,Goals,Assists,Points,PIM
0,286,Nathan MacKinnon,COL,C,92.446634,77.011494,99.178982,39.244663,82,51,89,140,42
1,381,Connor McDavid,EDM,C,97.701149,88.669951,99.671593,35.139573,76,32,100,132,30
2,169,Nikita Kucherov,T.B,R,98.686371,95.894910,98.522167,9.031199,81,44,100,144,22
3,457,Auston Matthews,TOR,C,99.343186,98.686371,96.715928,64.860427,81,69,38,107,20
4,429,Artemi Panarin,NYR,L,95.402299,84.564860,98.686371,59.934319,82,49,71,120,24

In [31]:
output_data_ext.to_csv('forwards.csv')

In [32]:
#Export defensemen

In [33]:
#Load individual data
player_stats_colnames = ['', 'Player', 'Team', 'Position', 'GP', 'TOI', 'Goals', 'Total Assists', 'First Assists', 'Second Assists', 'Total Points', 'IPP', 'Shots', 'SH%', 'ixG', 'iCF', 'iFF', 'iSCF', 'iHDCF', 'Rush Attempts', 'Rebounds Created', 'PIM', 'Total Penalties', 'Minor', 'Major', 'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways', 'Hits', 'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost', 'Faceoffs %']
player_stats = pd.read_csv('Player Season Totals - individual.csv')

stats = pd.DataFrame(player_stats)
stats = stats.rename(columns={'Unnamed: 0' : 'Id'})

player_stats_relative_colnames = ['','Player','Team','Position','GP','TOI','TOI/GP','Goals/60','Total Assists/60','First Assists/60','Second Assists/60','Total Points/60','IPP','Shots/60','SH%','ixG/60','iCF/60','iFF/60','iSCF/60','iHDCF/60','Rush Attempts/60','Rebounds Created/60','PIM/60','Total Penalties/60','Minor/60','Major/60','Misconduct/60','Penalties Drawn/60','Giveaways/60','Takeaways/60','Hits/60','Hits Taken/60','Shots Blocked/60','Faceoffs Won/60','Faceoffs Lost/60']
player_stats_relative = pd.read_csv('Player Season Totals - individual relative.csv')

player_relative = pd.DataFrame(player_stats_relative)
player_relative = player_relative.rename(columns={'Unnamed: 0' : 'Id'})
player_relative = player_relative.drop(columns=['Player', 'Team', 'Position', 'GP', 'TOI', 'IPP', 'SH%', 'Faceoffs %'])

individual = pd.merge(stats, player_relative, on='Id', how='inner')
#individual.head()

In [34]:
#Load on-ice data
player_season_onice_colnames = ['','Player','Team','Position','GP','TOI','CF','CA','CF%','FF','FA','FF%','SF','SA','SF%','GF','GA','GF%','xGF','xGA','xGF%','SCF','SCA','SCF%','HDCF','HDCA','HDCF%','HDGF','HDGA','HDGF%','MDCF','MDCA','MDCF%','MDGF','MDGA','MDGF%','LDCF','LDCA','LDCF%','LDGF','LDGA','LDGF%','On-Ice SH%','On-Ice SV%','PDO','Off.Â Zone Starts','Neu.Â Zone Starts','Def.Â Zone Starts','OnÂ TheÂ Fly Starts','Off.Â Zone Start %','Off.Â Zone Faceoffs','Neu.Â Zone Faceoffs','Def.Â Zone Faceoffs','Off.Â Zone Faceoff %']
player_season_onice = pd.read_csv('Player Season Totals - onice.csv')

onice_data = pd.DataFrame(player_season_onice)
onice_data = onice_data.rename(columns={'Unnamed: 0' : 'Id'})

player_season_onice_relative_colnames = ['','Player','Team','Position','GP','TOI','TOI/GP','CF/60 Rel','CA/60 Rel','CF% Rel','FF/60 Rel','FA/60 Rel','FF% Rel','SF/60 Rel','SA/60 Rel','SF% Rel','GF/60 Rel','GA/60 Rel','GF% Rel','xGF/60 Rel','xGA/60 Rel','xGF% Rel','SCF/60 Rel','SCA/60 Rel','SCF% Rel','HDCF/60 Rel','HDCA/60 Rel','HDCF% Rel','HDGF/60 Rel','HDGA/60 Rel','HDGF% Rel','MDCF/60 Rel','MDCA/60 Rel','MDCF% Rel','MDGF/60 Rel','MDGA/60 Rel','MDGF% Rel','LDCF/60 Rel','LDCA/60 Rel','LDCF% Rel','LDGF/60 Rel','LDGA/60 Rel','LDGF% Rel','On-Ice SH%','On-Ice SV%','PDO','Off.Â Zone Starts/60','Neu.Â Zone Starts/60','Def.Â Zone Starts/60','OnÂ TheÂ Fly Starts/60','Off.Â Zone Start %','Off.Â Zone Faceoffs/60','Neu.Â Zone Faceoffs/60','Def.Â Zone Faceoffs/60','Off.Â Zone Faceoff %']
player_season_onice = pd.read_csv('Player Season Totals - onice relative.csv')

onice_data_relative = pd.DataFrame(player_season_onice)
onice_data_relative = onice_data_relative.rename(columns={'Unnamed: 0' : 'Id'})
onice_data_relative = onice_data_relative.drop(columns=['Player', 'Team', 'Position', 'GP', 'TOI', 'On-Ice SH%', 'On-Ice SV%', 'PDO', 'Off.Â Zone Start %', 'Off.Â Zone Faceoff %'])

onice = pd.merge(onice_data, onice_data_relative, on='Id')
#onice.head()

In [35]:
#Merge both tables
onice = onice.drop(columns=['Player', 'Team', 'Position', 'GP', 'TOI', 'TOI/GP'])

data = pd.merge(individual, onice, on='Id', how='left')
#data.head()

In [36]:
#Select defensemen

In [37]:
data = data.loc[data['Position'] == 'D']
data.head()

,Id,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,LDGF/60 Rel,LDGA/60 Rel,LDGF% Rel,Off.Â Zone Starts/60,Neu.Â Zone Starts/60,Def.Â Zone Starts/60,OnÂ TheÂ Fly Starts/60,Off.Â Zone Faceoffs/60,Neu.Â Zone Faceoffs/60,Def.Â Zone Faceoffs/60
32,620,Quinn Hughes,VAN,D,82,1540.616667,10,33,13,20,...,0.35,-0.24,27.14,9.15,10.05,5.69,41.40,21.11,15.81,13.09
39,297,Josh Morrissey,WPG,D,81,1605.483333,8,34,17,17,...,-0.61,-0.06,-32.50,10.58,10.54,7.29,43.46,24.25,17.45,15.88
43,61,Roman Josi,NSH,D,82,1543.800000,12,29,17,12,...,0.55,0.31,13.63,10.26,9.68,5.13,42.75,25.22,17.76,14.65
51,409,Zach Werenski,CBJ,D,70,1337.783333,8,32,15,17,...,-0.04,0.30,-12.66,8.57,11.21,7.89,35.57,22.16,18.75,19.20
52,573,Cale Makar,COL,D,77,1304.083333,11,29,10,19,...,0.28,0.07,7.11,15.05,13.20,6.44,34.41,29.81,19.69,16.20

In [38]:
# List of column names
new_column_names = ['G/60 computed', '1A/60 computed', '2A/60 computed', 'TP/60 computed', 'SH/60 computed',
    'SH% computed', 'iXG/60 computed', 'iCF/60 computed', 'iFF/60 computed', 'iSCF/60 computed',
    'iHDCF/60 computed', 'Rush Attempts/60 computed', 'Rebounds Created/60 computed', 'PIM/60 computed',
    'PD/60 computed', 'Giveaways/60 computed', 'Takeaways/60 computed', 'Hits/60 computed', 'Shots Blocked/60 computed',
    'CF/60 computed', 'CA/60 computed', 'CF% computed', 'FF/60 computed', 'FA/60 computed', 'FF% computed',
    'SF/60 computed', 'SA/60 computed', 'SF% computed', 'GF/60 computed', 'GA/60 computed', 'GF% computed',
    'xGF/60 computed', 'xGA/60 computed', 'xGF% computed', 'SCF/60 computed', 'SCA/60 computed', 'SCF% computed',
    'HDCF/60 computed', 'HDCA/60 computed', 'HDCF% computed', 'HDGF/60 computed', 'HDGA/60 computed', 'HDGF% computed',
    'On-Ice SH% computed', 'On-Ice SV% computed', 'PDO computed', 'CF/60 Rel computed', 'CA/60 Rel computed',
    'CF% Rel computed', 'FF/60 Rel computed', 'FA/60 Rel computed', 'FF% Rel computed', 'SF/60 Rel computed',
    'SA/60 Rel computed', 'SF% Rel computed', 'GF/60 Rel computed', 'GA/60 Rel computed', 'GF% Rel computed',
    'xGF/60 Rel computed', 'xGA/60 Rel computed', 'xGF% Rel computed', 'SCF/60 Rel computed', 'SCA/60 Rel computed',
    'SCF% Rel computed', 'HDCF/60 Rel computed', 'HDCA/60 Rel computed', 'HDCF% Rel computed', 'HDGF/60 Rel computed',
    'HDGA/60 Rel computed', 'HDGF% Rel computed']

column_names = ['Goals/60', 'First Assists/60', 'Second Assists/60', 'Total Points/60', 'Shots/60', 'SH%',
    'ixG/60', 'iCF/60', 'iFF/60', 'iSCF/60', 'iHDCF/60', 'Rush Attempts/60', 'Rebounds Created/60',
    'PIM/60', 'Penalties Drawn/60', 'Giveaways/60', 'Takeaways/60', 'Hits/60', 'Shots Blocked/60', 'CF/60 Rel','CA/60 Rel','CF% Rel','FF/60 Rel','FA/60 Rel','FF% Rel','SF/60 Rel','SA/60 Rel','SF% Rel', 
    'GF/60 Rel','GA/60 Rel','GF% Rel','xGF/60 Rel','xGA/60 Rel','xGF% Rel','SCF/60 Rel','SCA/60 Rel','SCF% Rel', 'HDCF/60 Rel', 'HDCA/60 Rel', 'HDCF%',
    'HDGF/60 Rel', 'HDGA/60 Rel', 'HDGF%', 'On-Ice SH%', 'On-Ice SV%', 'PDO', 'CF/60 Rel', 'CA/60 Rel',
    'CF% Rel', 'FF/60 Rel', 'FA/60 Rel', 'FF% Rel', 'SF/60 Rel', 'SA/60 Rel', 'SF% Rel', 'GF/60 Rel',
    'GA/60 Rel', 'GF% Rel', 'xGF/60 Rel', 'xGA/60 Rel', 'xGF% Rel', 'SCF/60 Rel', 'SCA/60 Rel', 'SCF% Rel',
    'HDCF/60 Rel', 'HDCA/60 Rel', 'HDCF% Rel', 'HDGF/60 Rel', 'HDGA/60 Rel', 'HDGF% Rel']


# Calculate and create new columns for each specified column name
for i in range(0,70):
    # Calculate percentile ranks using pandas and numpy
    column_name = f"{column_names[i]}"
    percentile_ranks = data[column_name].rank(pct=True, method='max')

    # Create a new column with the percentile ranks
    new_column_name = f"{new_column_names[i]}"
    data[new_column_name] = percentile_ranks

data.head()

,Id,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,xGF% Rel computed,SCF/60 Rel computed,SCA/60 Rel computed,SCF% Rel computed,HDCF/60 Rel computed,HDCA/60 Rel computed,HDCF% Rel computed,HDGF/60 Rel computed,HDGA/60 Rel computed,HDGF% Rel computed
32,620,Quinn Hughes,VAN,D,82,1540.616667,10,33,13,20,...,0.882540,0.946032,0.298413,0.974603,0.898413,0.847619,0.025397,0.949206,0.803175,0.822222
39,297,Josh Morrissey,WPG,D,81,1605.483333,8,34,17,17,...,0.793651,0.907937,0.536508,0.876190,0.853968,0.765079,0.628571,0.933333,0.495238,0.647619
43,61,Roman Josi,NSH,D,82,1543.800000,12,29,17,12,...,0.853968,0.898413,0.698413,0.780952,0.831746,0.650794,0.669841,0.809524,0.276190,0.644444
51,409,Zach Werenski,CBJ,D,70,1337.783333,8,32,15,17,...,0.679365,0.920635,0.860317,0.752381,0.911111,0.831746,0.726984,0.933333,0.714286,0.993651
52,573,Cale Makar,COL,D,77,1304.083333,11,29,10,19,...,0.653968,0.720635,0.485714,0.660317,0.285714,0.260317,0.555556,0.571429,0.714286,0.326984

In [39]:
#Apply model functions - Defensemen

In [40]:
data['Offensive'] = (
    data['TP/60 computed'] +
    data['CF/60 computed'] +
    0.5 * data['FF/60 computed'] +
    1.25 * data['SF/60 computed'] +
    1.25 * data['GF/60 computed'] +
    1.5 * data['xGF/60 computed'] +
    data['SCF/60 computed'] +
    data['HDCF/60 computed'] +
    0.5 * data['HDGF/60 computed'] +
    data['CF/60 Rel computed'] +
    0.5 * data['FF/60 Rel computed'] +
    1.25 * data['SF/60 Rel computed'] +
    1.25 * data['GF/60 Rel computed'] +
    1.5 * data['xGF/60 Rel computed'] +
    data['SCF/60 Rel computed'] +
    data['HDCF/60 Rel computed'] +
    0.5 * data['HDGF/60 Rel computed']
)

In [41]:
# Defensive Function
data['Defensive'] = (
    0.25 * data['Hits/60 computed'] +
    0.5 * data['Shots Blocked/60 computed'] +
    (1 / (0.5 * data['CA/60 computed'])) +
    (1 / (1.5 * data['FA/60 computed'])) +
    (1 / (1.25 * data['SA/60 computed'])) +
    (1 / (1.25 * data['GA/60 computed'])) +
    (1 / (1.5 * data['xGA/60 computed'])) +
    (1 / data['SCA/60 computed']) +
    (1 / data['HDCA/60 computed']) +
    (1 / (0.5 * data['HDGA/60 computed'])) +
    (1 / data['CA/60 Rel computed']) +
    (1 / (0.5 * data['FA/60 Rel computed'])) +
    (1 / (1.25 * data['SA/60 Rel computed'])) +
    (1 / (1.25 * data['GA/60 Rel computed'])) +
    (1 / (1.5 * data['xGA/60 Rel computed'])) +
    (1 / data['SCA/60 Rel computed']) +
    (1 / data['HDCA/60 Rel computed']) +
    (1 / (0.5 * data['HDGA/60 Rel computed']))
)

In [42]:
data['Individual'] = (
    3 * data['G/60 computed'] +
    2 * data['1A/60 computed'] +
    data['2A/60 computed'] +
    data['TP/60 computed'] +
    data['SH/60 computed'] +
    0.25 * data['SH% computed'] +
    1.5 * data['iXG/60 computed'] +
    data['iCF/60 computed'] +
    0.5 * data['iFF/60 computed'] +
    data['iSCF/60 computed'] +
    0.5 * data['iHDCF/60 computed'] +
    0.25 * data['Rush Attempts/60 computed'] +
    0.25 * data['Rebounds Created/60 computed'] +
    (1 / (0.5 * data['PIM/60 computed'])) +
    0.25 * data['PD/60 computed'] +
    0.35 * data['Giveaways/60 computed'] +
    0.35 * data['Takeaways/60 computed'] +
    0.1 * data['Hits/60 computed'] +
    0.25 * data['Shots Blocked/60 computed']
)

In [43]:
data['Overall'] = (
    3 * data['G/60 computed'] +
    2 * data['1A/60 computed'] +
    data['2A/60 computed'] +
    data['TP/60 computed'] +
    data['SH/60 computed'] +
    0.25 * data['SH% computed'] +
    1.5 * data['iXG/60 computed'] +
    data['iCF/60 computed'] +
    0.5 * data['iFF/60 computed'] +
    data['iSCF/60 computed'] +
    0.5 * data['iHDCF/60 computed'] +
    0.25 * data['Rush Attempts/60 computed'] +
    0.25 * data['Rebounds Created/60 computed'] +
    (1 / (0.5 * data['PIM/60 computed'])) +
    0.25 * data['PD/60 computed'] +
    0.35 * data['Giveaways/60 computed'] +
    0.35 * data['Takeaways/60 computed'] +
    0.1 * data['Hits/60 computed'] +
    0.25 * data['Shots Blocked/60 computed'] +
    data['CF% computed'] +
    0.5 * data['FF% computed'] +
    1.25 * data['SF% computed'] +
    1.25 * data['GF% computed'] +
    1.5 * data['xGF% computed'] +
    data['SCF% computed'] +
    data['HDCF% computed'] +
    0.5 * data['HDGF% computed'] +
    data['CF% Rel computed'] +
    0.5 * data['FF% Rel computed'] +
    1.25 * data['SF% Rel computed'] +
    1.25 * data['GF% Rel computed'] +
    1.5 * data['xGF% Rel computed'] +
    data['SCF% Rel computed'] +
    data['HDCF% Rel computed'] +
    0.5 * data['HDGF% Rel computed']
)

In [44]:
#Get relatives of overall, individual, offensive, defensive

In [45]:
output_data = data[['Id', 'Player', 'Team', 'Position', 'Overall', 'Individual', 'Offensive', 'Defensive']]

ovrpct = output_data['Overall'].rank(pct=True, method='max')
output_data['Overall%'] = 100*ovrpct

indpct = output_data['Individual'].rank(pct=True, method='max')
output_data['Individual%'] = 100*indpct

offpct = output_data['Offensive'].rank(pct=True, method='max')
output_data['Offensive%'] = 100*offpct

defpct = output_data['Defensive'].rank(pct=True, method='max')
output_data['Defensive%'] = 100*defpct


output_data.head()

C:\Users\Ryzen\AppData\Local\Temp/ipykernel_25456/1439559019.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_data['Overall%'] = 100*ovrpct
C:\Users\Ryzen\AppData\Local\Temp/ipykernel_25456/1439559019.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_data['Individual%'] = 100*indpct
C:\Users\Ryzen\AppData\Local\Temp/ipykernel_25456/1439559019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_data['Offensive%'] = 100*offpct
C:\Users\Ryzen\AppData\Local\Temp/ipykernel_25456/1439559019.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_data['Defensive%'] = 100*defpct

,Id,Player,Team,Position,Overall,Individual,Offensive,Defensive,Overall%,Individual%,Offensive%,Defensive%
32,620,Quinn Hughes,VAN,D,32.711709,18.762502,16.074603,73.145576,91.746032,81.587302,99.047619,68.571429
39,297,Josh Morrissey,WPG,D,28.722698,15.700476,15.353968,33.722070,82.857143,71.111111,95.873016,31.746032
43,61,Roman Josi,NSH,D,30.815824,17.236459,15.622222,39.147636,89.206349,77.142857,96.825397,42.222222
51,409,Zach Werenski,CBJ,D,36.876032,25.937937,15.625397,24.001852,97.142857,96.825397,97.142857,10.476190
52,573,Cale Makar,COL,D,32.841258,25.473004,10.992063,35.571286,92.380952,95.238095,70.158730,33.968254

In [46]:
#format data for output

In [47]:
columns_to_drop = ['Overall', 'Individual', 'Offensive', 'Defensive']
output_data.drop(columns=columns_to_drop, inplace=True)
output_data.head()

C:\Users\Ryzen\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Id,Player,Team,Position,Overall%,Individual%,Offensive%,Defensive%
32,620,Quinn Hughes,VAN,D,91.746032,81.587302,99.047619,68.571429
39,297,Josh Morrissey,WPG,D,82.857143,71.111111,95.873016,31.746032
43,61,Roman Josi,NSH,D,89.206349,77.142857,96.825397,42.222222
51,409,Zach Werenski,CBJ,D,97.142857,96.825397,97.142857,10.476190
52,573,Cale Makar,COL,D,92.380952,95.238095,70.158730,33.968254

In [48]:
player_stats_basic_colnames = ['', 'Player', 'Team', 'Position', 'GP', 'TOI', 'Goals', 'Total Assists', 'First Assists', 'Second Assists', 'Total Points', 'IPP', 'Shots', 'SH%', 'ixG', 'iCF', 'iFF', 'iSCF', 'iHDCF', 'Rush Attempts', 'Rebounds Created', 'PIM', 'Total Penalties', 'Minor', 'Major', 'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways', 'Hits', 'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost', 'Faceoffs %']
player_stats_basic = pd.read_csv('Player Season Totals - all.csv')

basic = pd.DataFrame(player_stats_basic)
basic = basic.rename(columns={'Unnamed: 0' : 'Id', 'Total Assists' : 'Assists', 'Total Points' : 'Points'})

basic = basic.drop(columns=['Player', 'Team', 'Position', 'TOI', 'First Assists', 'Second Assists', 'IPP', 'Shots', 'SH%', 'ixG', 'iCF', 'iFF', 'iSCF', 'iHDCF', 'Rush Attempts', 'Rebounds Created', 'Total Penalties', 'Minor', 'Major', 'Misconduct', 'Penalties Drawn', 'Giveaways', 'Takeaways', 'Hits', 'Hits Taken', 'Shots Blocked', 'Faceoffs Won', 'Faceoffs Lost', 'Faceoffs %'])
basic.head()

    Id  GP  Goals  Assists  Points  PIM
0  169  81     44      100     144   22
1  286  82     51       89     140   42
2  381  76     32      100     132   30
3  429  82     49       71     120   24
4  334  82     47       63     110   47

In [49]:
output_data_ext = pd.merge(output_data, basic, on='Id', how='inner')

In [50]:
output_data_ext.to_csv('defensemen.csv')